@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>“For the love of music”</h3>

<p>
    Atlas Music Store Professional began in early 1976 as a company for musicians, artists and the local communities around. By offering a wide variety of brands, Atlas Music Store Professional speaks to a diverse audience and provides a rigorous
    service, ensuring we as Atlas Music Store Professional provides an exceptional customer experience and offer only selected top tier brands. With a motto targeted towards a musicians passion for music and their favorite asset,
    as we all do it “For the love of music”.       
</p>
<p>
    Atlas Music Store Professional is a community-based music store that aims to join the people through music. From selling musical instruments to hosting activities and events, we provide the tools and space for artists of all mediums to gather and create the
    world of music.
</p>
<p>
    Music connects us. From the moment we hear a melody, there is a power that engages our minds. We associate music to memories and emotions that unite each person. Listening to music either in one space or through a virtual world, that song that is played is 
    shared by us all.
</p>

