@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>
    We will answer all your questions!
    Our team of knowledgable musicians and salesmen can help you at anytime.
    Information about instruments and equipment as well as our community projects!
</h3>


<address>
    Sibiu<br />
    Romania<br />
    <abbr title="Phone">Phone:</abbr>
    +40730046007
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:horatiu.botoroaga@gmail.com">horatiu.botoroaga@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:horatiu.botoroaga@gmail.com">horatiu.botoroaga@gmail.com</a>
</address>